---
import Layout from "../layouts/Layout.astro";
import ExperienceTimeline from "../components/mockups/ExperienceTimeline.astro";
import PortfolioHero from "../components/mockups/PortfolioHero.astro";
import ProjectShowcase from "../components/mockups/ProjectShowcase.astro";
---

<Layout title="Dark Portfolio Mockup">
	<main class="mx-auto max-w-6xl px-6 py-16 sm:py-24">
		<div class="space-y-8">
			<PortfolioHero />
			<ExperienceTimeline />
			<ProjectShowcase />
		</div>
	</main>
</Layout>
